*{
    --light-color: #F0F8F8;
    --dark-color: #1c1d1d;
    --shade-dark-color: #121312;
    --primary-theme: #b211df;
    --shade-primary-theme: #680b82;
}


/* Global Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

ul, ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: calc(16px * .625);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  position: relative;
  font-family: var(--font-fira-sans), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeSpeed;
  background: var(--dark-color);
  color: var(--light-color);
  width: 100dvw;
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input, button, textarea, select {
  font: inherit;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

